/*
  BEM BLOCK .c-item-thumb
 */

.c-item-thumb {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-item-thumb--
 */

.c-item-thumb-- {
  &type {
    display: block
  }
  &cart-product{
    display: flex;
  }
  &collection-list{
    height: 100%;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-item-thumb--

[class*=c-item-thumb--] {
  @extend .c-item-thumb;
}

/*
  BEM ELEMENTS .c-item-thumb__
 */

.c-item-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    text-transform: uppercase;
    font-weight: bold;

    @include act-font-size($act-fs-4, $modifier: -1);
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }
  &link-title{
    text-decoration: none;
  }

  &thumb-link {
    text-decoration: none;
  }

  &image-link {
    display: block;
  }

  &feature-image{
    margin-bottom: $act-unit-s;
    background: white;
  }
  &featured-image{
    @extend .c-item-thumb__feature-image;
  }

  &content {
    display: block
  }

  &price {
    color: $col-text;
    font-weight: 300;
  }

  &footer {
    display: block
  }
  &control{
    display: none;
  }
  &container{
    display: block;
  }
  &input{
    @include act-font-size($act-fs-6)
  }
  &content{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb--

[class*=c-item-thumb__header--] {
  @extend .c-item-thumb__header;
}

.c-item-thumb__header--{
  &collection-list{
    text-align: center;
    margin-bottom: auto;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__feature-image--

[class*=c-item-thumb__feature-image--] {
  @extend .c-item-thumb__feature-image;
}

.c-item-thumb__feature-image--{
  &cart-product{
    width: 100px;
    background: transparent;
    margin-right: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__feature-image--

[class*=c-item-thumb__heading--] {
  @extend .c-item-thumb__heading;
}

.c-item-thumb__heading--{
  &cart-product{
   @include act-font-size($act-fs-6)
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__control--

[class*=c-item-thumb__control--] {
  @extend .c-item-thumb__control;
}

.c-item-thumb__control--{
  &cart-product-remove{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__input--

[class*=c-item-thumb__input--] {
  @extend .c-item-thumb__input;
}

.c-item-thumb__input--{
  &cart-product-remove{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__content--

[class*=c-item-thumb__content--] {
  @extend .c-item-thumb__content;
}

.c-item-thumb__content--{
  &cart-product{
    display: grid;
    grid-template-columns: 1fr 100px;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__container--

[class*=c-item-thumb__container--] {
  @extend .c-item-thumb__container;
}

.c-item-thumb__container--{
  &cart-product-qty{
    grid-column-start: 1;
  }
  &cart-product-price{
    text-align: right;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__thumb-link--

[class*=c-item-thumb__thumb-link--] {
  @extend .c-item-thumb__thumb-link;
}

.c-item-thumb__thumb-link--{
  &collection-list{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}


