/*
  BEM BLOCK .c-header
 */

.c-header {
  display: block;
  margin-bottom: $act-unit;
}

/*
  BEM BLOCK MODIFIER .c-header--
 */

.c-header-- {
  &type {
    display: block
  }
  &collection{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;

    @include contained-content();

    padding-top: 0;
  }
  &search{
    text-align: center;
    margin-bottom: 0;
  }
  &product{
    margin-bottom: 0;
  }
  &static-page{
    margin-bottom: 0;
  }
  &featured-collections {
    margin-bottom: $act-unit-l;
  }
  &story-template{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
    @include contained-content();
    padding-top: 0;
  }
  &builder-template{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
    @include contained-content();
    padding-top: 0;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-header--

[class*=c-header--] {
  @extend .c-header;
}

/*
  BEM ELEMENTS .c-header__
 */

.c-header__ {
  &content-wrap{
    margin-top: $act-unit-l;
    @include mq($from : tablet){
      margin-top: 0;
    }
  }
  &header {
    display: block
  }

  &heading {
    display: block;
    @include act-font-size($act-fs-1, 1);
    color: $col-heading;
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;

    .has-subheading & {
      margin-bottom: $act-unit-t;
    }
  }

  &heading--collection {
    margin-bottom: $act-unit !important;
    color: white;
    font-size: $act-fs-g;

    @include mq($from: tablet) {
      padding-right: 75%;
    }

    @include mq($from: desktop) {
      padding-right: 50%;
    }

    .c-header__type {
      font-weight: 300;
    }
  }



  &sub-heading {
    font-family: $act-font-family-body;
    font-weight: 300;
    line-height: 1.4 !important;
    @include act-font-size($act-fs-3);
    color: white;

    @include mq($from: tablet) {
      padding-right: 75%;
    }

    @include mq($from: desktop) {
      padding-right: 50%;
    }
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__heading--] {
  @extend .c-header__heading;
}

//BEM ELEMENT MODIFIER .c-header__heading--

.c-header__heading-- {
  &collection{
    position: relative;
    z-index: 1;
    margin-bottom: 0;
  }
  &story-template{
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    margin-bottom: $act-unit-l * 1.5 !important;
    color: white;
    font-size: $act-fs-g;

    @include mq($from: tablet) {
      padding-right: 75%;
    }

    @include mq($from: desktop) {
      padding-right: 50%;
    }

    .c-header__type {
      font-weight: 300;
    }
  }
  &builder-template{
   @extend .c-header__heading--story-template;
  }
  &product{
    @include act-font-size($act-fs-2);
  }
  &subtitle{
    @include act-font-size($act-fs-4, 1);
    margin-bottom: 0;
  }
  &blog{
    @include act-font-size($act-fs-g);
    margin-bottom: $act-unit-l;
  }
  &static-page{
    margin-bottom: $act-unit-l;
    font-size: $act-fs-g;
  }
  &question-template{
    @extend .c-header__heading--static-page;
    margin-top: $act-unit;
  }
  &footer{
    @include act-font-size($act-fs-3)
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__sub-heading--] {
  @extend .c-header__sub-heading;
}

.c-header__sub-heading--{
  &blog{
    color: $brand-col-2;
    text-transform: none;
    font-weight: 500;
  }
  &story-template{
    color: white;
    text-transform: none;
    //font-weight: 500;
  }
  &builder-template{
    color: white;
    text-transform: none;
    //font-weight: 500;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__content-wrap--] {
  @extend .c-header__content-wrap;
}
