/*
  BEM BLOCK .c-feature-list
 */

.c-feature-list {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-feature-list--
 */

.c-feature-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-feature-list--

[class*=c-feature-list--] {
  @extend .c-feature-list;
}

/*
  BEM ELEMENTS .c-feature-list__
 */

.c-feature-list__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }
  &label{
    display: inline;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }

  &list,
  &list--collection {
    display: flex;
    @extend .o-list-bare;
    counter-reset: ac-count;
    @include mq($from: tablet){
      display: block;
    }
  }

  &item,
  &item--collection {
    margin-bottom: 0;
    counter-increment: ac-count;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq($from : tablet){
      flex-direction: row;
      margin-bottom: $act-unit-l;
    }

    &:before {
      content: '';
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: $act-unit;
      background: $brand-col-2;
      color: $brand-col-1;
      font-weight: 700;
      @include size($act-unit * 2);
      border-radius: 50%;
      text-align: center;
      @include act-font-size($inuit-font-size-h3, $act-unit);
      font-family: $act-font-family-headings;
    }
  }
  &icon{
    @include size($act-unit-l);
    margin-right: 0;
    color: $brand-col-1;
    margin-bottom: $act-unit;
    @include mq($from : tablet){
      margin-bottom: 0;
      margin-right: $act-unit-l;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-feature-list--

[class*=c-feature-list__header--] {
  @extend .c-feature-list__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-feature-list--

[class*=c-feature-list__icon--] {
  @extend .c-feature-list__icon;
}

.c-feature-list__icon--{
  &collection{
    margin-right: 0;
    @include mq($from : tablet){
      margin-right: $act-unit;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-feature-list--

[class*=c-feature-list__label--] {
  @extend .c-feature-list__label;
}

.c-feature-list__label--{
  &collection{
    text-align: center;
    @include act-font-size($act-fs-5);
    @include mq($from : tablet){
      text-align: left;
      @include act-font-size($act-fs-3);
    }
  }
}
