/*
  BEM BLOCK .c-header
 */

.c-header {
  display: block;
  margin-bottom: $act-unit;
}

/*
  BEM BLOCK MODIFIER .c-header--
 */

.c-header-- {
  &type {
    display: block
  }
  &collection{
    text-align: center;
    margin-bottom: 0;
  }
  &search{
    text-align: center;
    margin-bottom: 0;
  }
  &product{
    margin-bottom: 0;
  }
  &static-page{
    margin-bottom: 0;
  }

  &featured-collections {
    margin-bottom: $act-unit-l;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-header--

[class*=c-header--] {
  @extend .c-header;
}

/*
  BEM ELEMENTS .c-header__
 */

.c-header__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    @include act-font-size($act-fs-1, 1);
    color: $col-heading;
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;

    .has-subheading & {
      margin-bottom: $act-unit-t;
    }
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__heading--] {
  @extend .c-header__heading;
}

//BEM ELEMENT MODIFIER .c-header__heading--

.c-header__heading--{
  &collection{
    margin-bottom: 0;
  }
  &product{
    @include act-font-size($act-fs-3);
  }
  &subtitle{
    @include act-font-size($act-fs-4, 1);
    margin-bottom: 0;
  }
}
