/*
  BEM BLOCK .c-featured-image
 */

.c-featured-image {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-featured-image--
 */

.c-featured-image-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-featured-image--

[class*=c-featured-image--] {
  @extend .c-featured-image;
}

/*
  BEM ELEMENTS .c-featured-image__
 */

.c-featured-image__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &wrapper{
    position: relative;
    max-width: none !important;
    margin-bottom: $act-unit;
    // padding-top: 100%;
    // background-color: $col-placeholder;
  }
  &img{
    background-color: transparent;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // object-fit: contain;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-featured-image--

[class*=c-featured-image__header--] {
  @extend .c-featured-image__header;
}
