/*
  BEM BLOCK .c-item-thumb
 */

.c-item-thumb {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-item-thumb--
 */

.c-item-thumb-- {
  &type {
    display: block
  }
  &cart-product{
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: auto auto;
    @include mq($from: desktop){
      display: flex;
      align-items: flex-start;
    }
  }
  &quick-cart{
    display: flex;
    //grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    margin-bottom: $act-unit-t;
    background: #333;
    @include mq($from: desktop){
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
    }
  }
  &collection-list{
    height: 100%;
  }
  &product {
    position: relative;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-item-thumb--

[class*=c-item-thumb--] {
  @extend .c-item-thumb;
}

/*
  BEM ELEMENTS .c-item-thumb__
 */

.c-item-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    //text-transform: uppercase;
    font-weight: bold;
    @include act-font-size($act-fs-3);
    line-height: 1.3 !important;
    margin-bottom: $act-unit-s * 1.5;


  }
  &title {
    display: inline;
  }
  &meta{
    margin-bottom: $act-unit;
    color: $brand-col-4;
    display: block;
    @include act-font-size($act-fs-5);
  }
  &excerpt{
   @include act-font-size($act-fs-5);
    margin-bottom: $act-unit-l;
  }
  &link {
    display: inline
  }
  &cart-link{
    @include a($col : $col-text, $col-hov : $col-link)
  }
  &link-title{
    text-decoration: none;
    @include a($col : $brand-col-2);
  }

  &thumb-link {
    text-decoration: none;
  }

  &image-link {
    position: relative;
    display: block;
  }

  &feature-image{
    margin-bottom: $act-unit-s;
    background: white;
  }
  &featured-image{
    @extend .c-item-thumb__feature-image;
  }

  &content {
    display: block
  }

  &price {
    display: flex;
    flex-wrap: wrap;
    color: $col-text;
    font-weight: 300;

    .c-item-thumb__price-label--current {
      padding-right: $act-unit-t;
      color: $brand-col-1;
    }

    .c-item-thumb__price-label--compare {
      text-decoration: line-through;
    }
  }

  &footer {
    display: block
  }
  &control{
    display: block;


  }
  &container{
    display: block;
  }
  &input{
    @include act-font-size($act-fs-6)
  }
  &content{
    display: block;
  }
  &variant{
    display: block;
  }
  &cart-size-reminder{
    flex-basis: 100%;
    @include act-font-size($act-fs-6);
  }
  &title-type{
    display: block;
    margin-top: -$act-unit-t;
    margin-bottom: $act-unit;
    font-weight: 100;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb--

[class*=c-item-thumb__header--] {
  @extend .c-item-thumb__header;
}

.c-item-thumb__header--{
  &collection-list{
    text-align: center;
    margin-bottom: auto;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__feature-image--

[class*=c-item-thumb__feature-image--] {
  @extend .c-item-thumb__feature-image;
}

.c-item-thumb__feature-image-- {
  &cart-product {
    grid-row-start: 1;
    grid-row-end: 3;
    aspect-ratio: 1;
    @include mq($from :desktop){
      flex: 0 0 25%;
    }
    text-align: center;
    background-color: $col-placeholder;

    @include mq($from: desktop) {
      flex: 0 0 15%;
    }
  }
  &quick-cart{
    flex: 0 0 50px;
    margin-bottom: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__feature-image--

[class*=c-item-thumb__heading--] {
  @extend .c-item-thumb__heading;
}

.c-item-thumb__heading--{
  &cart-product{
   @include act-font-size($act-fs-6)
  }
  &quick-cart{
    flex: 0 1 50%;
    padding: 0 $act-unit-s;
    margin-bottom: 0;
  }
  &related-product{
    @include act-font-size($act-fs-4);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__control--

[class*=c-item-thumb__control--] {
  @extend .c-item-thumb__control;
}

.c-item-thumb__control--{
  &cart-product-remove{
    grid-row-start: 1;
    grid-column-start: 3;
    display: none;
    @include mq($from : desktop){
      display: block;
      flex: 0 0 5%;
    }
  }
  &quick-cart{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &remove-text{
    display: block;
    @include act-font-size(15px);
    font-weight: 500;
    @include mq($from : desktop){
      display: none;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__input--

[class*=c-item-thumb__input--] {
  @extend .c-item-thumb__input;
}

.c-item-thumb__input--{
  &cart-product-remove{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__content--

[class*=c-item-thumb__content--] {
  @extend .c-item-thumb__content;
}

.c-item-thumb__content-- {
  &cart-product {
    display: flex;
  }
}



  //BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__cart-size-reminder--

[class*=c-item-thumb__cart-size-reminder--] {
  @extend .c-item-thumb__cart-size-reminder;
}

.c-item-thumb__cart-size-reminder--{
  &quick-cart{
    display: flex;
    gap: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__container--

[class*=c-item-thumb__container--] {
  @extend .c-item-thumb__container;
}

.c-item-thumb__container--{
  &cart-product-qty{
    grid-column-start: 2;
  }
  &cart-product-price{
    grid-column-start: 2;
  }
  &cart-product-qty-quick-cart{
    grid-column-start: 2;
    flex: 0 0 auto;
    padding: 0 $act-unit-s;
  }
  &cart-product-price-quick-cart{
    padding: 0 $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__thumb-link--

[class*=c-item-thumb__thumb-link--] {
  @extend .c-item-thumb__thumb-link;
}

.c-item-thumb__thumb-link--{
  &collection-list{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &quick-cart{
    @include act-font-size($act-fs-6);
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__thumb-link--

[class*=c-item-thumb__link-title--] {
  @extend .c-item-thumb__link-title;
}

.c-item-thumb__link-title--{
  &quick-cart{
    text-decoration: none;
    @include a($col : $brand-col-1);
    color: $brand-col-1 !important;
  }
}


//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__thumb-link--

[class*=c-item-thumb__variant--] {
  @extend .c-item-thumb__variant;
}

.c-item-thumb__variant--{
  &quick-cart{
    color: white;
    @include act-font-size($act-fs-6, $important: true);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-item-thumb__thumb-link--

[class*=c-item-thumb__title-type--] {
  @extend .c-item-thumb__title-type;
}

.c-item-thumb__title-type-- {
&related-product{
  display: inline !important;
  @include mq($from : tablet){
    display: block !important;
  }
}
}
