/*
  BEM BLOCK .c-btn
 */

.c-btn {
  @extend .o-btn;
  @extend .o-btn--small;
  @extend .o-btn--ghost;

  position: relative;
  min-width: 180px;
  max-width: 100%;
  padding-top: $act-unit-s * 1.25;
  padding-bottom: $act-unit-s * 1.25;
  overflow: hidden;
  color: white;
  background-color: $brand-col-1;
  border-radius: $act-unit-h;
  border-width: 3px;
  border-color: $brand-col-1;
  text-transform: uppercase;
  transition: all 0.3s ease !important;
  font-weight: 500;
  margin-bottom: $act-unit;

  @include mq($from : tablet){
    margin-bottom: 0 !important;

  }

  a {
    color: white;
  }

  &:hover,
  &:focus {
    background-color: darken($brand-col-1, 10%);
    border-color: darken($brand-col-1, 10%);
  }

  &:active {
    background-color: darken($brand-col-1, 20%);
    border-color: darken($brand-col-1, 20%);
  }
  @include mq($from : tablet){
    margin-bottom: 0;
  }
  &:last-child{
    margin-bottom: 0 !important;
  }
}

/*
  BEM BLOCK MODIFIER .c-btn--
 */

.c-btn-- {
  &cta-secondry {
    background-color: white;
    border-color: white;
    font-weight: 700;
    &,
    a {
      color: $brand-col-2;
      text-decoration: none;
    }

    &:hover {
      background-color: darken($brand-col-1, 10%);
      border-color: darken($brand-col-1, 10%);
      color: white;

      a {
        color: white;
      }
    }

    a:hover {
      color: white;
    }
  }
  &cta-primary {

    font-weight: 700;
    a{
      text-decoration: none;
    }


  }
  &heading-cta{
    @extend .c-btn--cta-primary;
  }
  &subscribe-submit{
    @extend .o-btn--small;
    @extend .o-btn--full;
    @extend .o-btn--bg5;
    color: $brand-col-2;
    border-radius: 0 $act-unit-s $act-unit-s 0 ;
    height: 100%;
    border: none;
    background: $brand-col-5 !important;
    min-width: 0;
    &:hover{
      @extend .c-btn--subscribe-submit;
    }
  }
  &content-block{
    border-radius:  $act-unit-t;
    background: transparent;
    border: solid ;
    margin: 0 auto;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
    &:hover,&:focus{
      //background: rgba(white, 0.5);
      color: white;
    }
  }
  &contact-submit{
    border-radius:  $act-unit-t;
    color: white;
    background: $brand-col-3 !important;
    border: solid 3px $brand-col-3 !important;
    margin: 0 auto;
    padding-top: $act-unit-s !important;
    padding-bottom: $act-unit-s  !important;
    &:hover,&:focus{
      @extend .c-btn--contact-submit;
    }
  }
&control-announcement{
  padding: 0;
  background-color: transparent;
  width: auto;
  min-width: 0;
  border-radius: 0;
  border: none;
  padding: $act-unit-t;
}
  &size-guide {
    min-width: unset;
    padding: 0;
    border: none;
    border-radius: 0;
    text-transform: none;
  }

  &mobile-nav-close{
    @extend .o-btn--small;
    @extend .o-btn--transparent;
    @extend .o-btn--flush;
    color: white;
    border: none;
    padding: 0;
    min-width: 0;
    width: 24px;

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: transparent;
    }
  }
  &search-submit{
    @extend .o-btn--transparent;
    @extend .o-btn--tiny;
    colour: $brand-col-2;
    border: none;
    padding: $act-unit-t;
    width: 30px;
    min-width: 0;
    &:hover, &:focus{
      @extend .c-btn--search-submit;
    }
  }
  &search-close{
    @extend .o-btn--transparent;
    @extend .o-btn--tiny;
    colour: $brand-col-2;
    border: none;
    padding: $act-unit-t;
    width: 30px;
    min-width: 0;
    &:hover, &:focus{
      @extend .c-btn--search-close;
    }
  }
  &collection-thumb{
    @extend .c-btn;
    @extend .c-btn--content-block;
    color: $brand-col-2;
    min-width: 200px;
    &:hover, &:focus{
      @extend .c-btn--content-block;
      color: $brand-col-2;
    }
  }
  &product-thumb{
     @extend .c-btn;
     @extend .c-btn--content-block;
     color: $brand-col-2;
     min-width: 200px;
     padding-top: $act-unit-s;
     padding-bottom: $act-unit-s;
     &:hover{
       color: $brand-col-2;
     }
    &:after{

      background: rgba(white, 0.5);
      z-index: 0;
    }
   }
  &thumb{
    @extend .c-btn;
    @extend .c-btn--content-block;
    color: $brand-col-2;
    min-width: 200px;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
    &:hover{
      color: $brand-col-2;
    }
  }
  &product-form-submit{
    @extend .c-btn;

    width: 100%;
  }
  &block{
    @extend .o-btn--transparent;
    @extend .o-btn--full;
    color: $brand-col-3;
    font-family: $act-font-family-headings;
    font-weight: 700;
    text-align: center;
    border: solid 3px $brand-col-3;
  border-radius: $act-unit-t;
    &:hover, &:focus{
      @extend .o-btn--transparent;
      @extend .o-btn--full;
      @extend .o-btn--small;
      color: $brand-col-3;
      border: solid 3px $brand-col-3;
    }
  }
  &product-back{
    @extend .o-btn--icon-left;
    @extend .o-btn--transparent;
    color: $brand-col-5;
    font-family: $act-font-family-headings;
    font-weight: 700;
    border: none;
    display: flex !important;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    cursor: pointer;
    &:hover, &:focus{
      color: darken($brand-col-5, 10%);
      @extend .o-btn--icon-left;
      @extend .o-btn--transparent;
      @extend .c-btn--product-back;
    }
    & > :first-child{
      transform: rotateZ(90deg);
    }
  }
  &cart-update{
    @extend .o-btn--flush;
    @extend .o-btn--tiny;
    @extend .o-btn--transparent;
    color: $brand-col-1;
    border: 0;
    min-width: 0;
    @include act-font-size(15px);
    &:hover, &:focus{
      @extend .c-btn--cart-update;
    }
  }
  &cart-remove{
    min-width: 0;
    padding: 3px;
    @extend .o-btn--transparent;
    color: $brand-col-3;
    border-radius: 50%;
    border: none;
    @include size(30px);
    min-width: 0;
    &:hover, &:focus, &:active{
      min-width: 0;
      @include size(30px);
      padding: 3px;
      @extend .o-btn--transparent;
      color: $brand-col-1;
      border: none;

    }
  }
  &cart-submit {
    @extend .c-btn;

    width: 100%;
    margin-top: $act-unit;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
  }
  &text-link{
    @extend .o-btn--transparent;
    > *{
      text-decoration: underline !important;
    }
  }
  &size-guide{
    @extend .c-btn--text-link
  }
  &read-more{
    @extend .c-btn--text-link;
    padding: 0;
    border: none;
    min-width: 0;
    width: auto;
    text-align: left;
    border-radius: 0;
    text-decoration: none !important;
    @include a($col: $brand-col-1);
    font-weight: bold;
    > *{
      text-decoration: none !important;
    }
  }
  &newsletter-submit{
    @extend .c-btn--cta-primary;
  }
  &contact-form{
    font-weight: 700;
  }

}

//BEM BLOCK MODIFIER FALLBACK .c-btn--

[class*=c-btn--] {
  @extend .c-btn;
}

[class*=c-btn--] + [class*=c-btn--] {
  margin-left: 0;
  @include mq($from : tablet){
    margin-left: $act-unit;
  }
}

/*
  BEM ELEMENTS .c-btn__
 */

.c-btn__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &label{
    display: inline;
  }
  &icon{
    display: block;
    @include size($act-unit-s * 1.5)
  }
  &label{
    position: relative;
    z-index: 1;
  }
  &link-label{
    position: relative;
    z-index: 1;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__header--

[class*=c-btn__header--] {
  @extend .c-btn__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__label--

[class*=c-btn__label--] {
  @extend .c-btn__label;
}

.c-btn__label--{

  &mobile-nav-close{
    display: none;
  }

  &size-guide {
    padding-bottom: $act-unit-t;
    border-bottom: 2px solid $col-link;
    transition: all 0.3s;

    color: $col-link;
    &:hover{
      color: $col-text;
      border-bottom: 2px solid $col-text;
    }
  }

}

[class*=c-btn__link--] {
  @extend .c-btn__link;
}

.c-btn__link-- {
  &size-guide {
    @extend .o-btn__link--icon;
    text-decoration: none !important;
    font-weight: bold;
    .c-btn__icon {
      margin-left: $act-unit-s;
      transform: rotate(90deg);
      width: 16px;
      height: 16px;

      .o-svg-icon {
        transition: all 0.3s ease !important;
        color: $col-link;
      }
    }
    &:hover{

      color: $col-text;
      text-decoration: none !important;
      .o-svg-icon {
        transition: all 0.3s ease !important;
        color: $col-text;
      }
    }


  }
  &control-announcement{
    @include a($col : white, $col-hov : white);
    text-decoration: none;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__icon--

[class*=c-btn__icon--] {
  @extend .c-btn__icon;
}

.c-btn__icon--{
  &mobile-nav-close{
    &:hover, &:focus{
      border-color: transparent;
      background-color: transparent;
      color: $col-text;
    }
  }
}

