// To be extended
.form-input {
  margin-bottom: $act-unit;
  padding: 12px 20px;
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
  transition: box-shadow 0.3s;
  border-radius: 20px;
  font-weight: 100;
  font-size: 16px;

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  }

  &::placeholder {
    color: $act-grey;
  }
}

/*
  BEM BLOCK .c-contact-form
 */

.c-contact-form {
  display: block;
  margin: 0 auto $act-unit-s;
  text-align: left;
}

/*
  BEM BLOCK MODIFIER .c-contact-form--
 */

.c-contact-form-- {
  &request {
    .c-contact-form__content{
      @include mq($from : tablet){
        display: flex;
        align-items: flex-end;
      }

      > *{
        margin-right:$act-unit-t;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .c-contact-form__input-wrapper--submit{
      padding: 0;
      margin-bottom: $act-unit-t;
    }

    .ajax-loader{
      display: none !important;
    }
  }
  &next-step{
    @extend .c-contact-form--placeholder-blocks;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-contact-form--

[class*=c-contact-form--] {
  @extend .c-contact-form;
}

/*
  BEM ELEMENTS .c-contact-form__
 */

.c-contact-form__ {
  &header{
    display: block;
  }
  &fieldset{
    background: $col-text;
    padding: $act-unit-t;
  }
  &input-wrapper{
    display: block;
    margin-bottom: 0;
  }
  &radio-wrapper{
    @extend .c-contact-form__label;
    padding-bottom:$act-unit-t;
    border-bottom:solid 2px white;
  }
  &input{
    @extend .form-input;
  }
  &label{
    display: block;
    margin-bottom: $act-unit;
    @include act-font-size($act-fs-6)
  }
  &label-text{
    @include act-font-size($act-fs-6, 1);
    padding-bottom: $act-unit-s;
    display: block;
  }
  &label-text-radio{
    @include act-font-size($act-fs-5, 1);
  }
  &legend{
    float: left;
    width: 100%;
    margin-bottom:$act-unit-t;
    text-transform: uppercase;
    @include act-font-size($act-fs-5);
    font-weight: bold;
    background: $col-text;
    padding: 0.5em 1em;
    color: white;
  }
  &content {
    display: block;
    //@extend .c-contact-form__content--placeholder-blocks;
  }
  &footer {
    display: block
  }
}


//BEM ELEMENT MODIFIER  .c-contact-form__ELEMENT--

[class*=c-contact-form__header--] {
  @extend .c-contact-form__header;
}

[class*=c-contact-form__input-wrapper--] {
  @extend .c-contact-form__input-wrapper;
}

.c-contact-form__input-wrapper--{
  &check{
    .wpcf7-list-item{
      margin: 0;
    }
  }
}

[class*=c-contact-form__input-content--] {
  @extend .c-contact-form__content;
}

//BEM ELEMENT MODIFIER  .c-contact-form__input--

[class*=c-contact-form__input--] {
  @extend .c-contact-form__input;
}



/*
 * c-contact-form--placeholder-block
 */
.c-contact-form--placeholder-blocks {

  .c-contact-form__ {
    &content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &label {
      width: 49%;
      margin-bottom: $act-unit;
    }
    &label--{
      &textarea{
        width: 100%;
        margin-bottom: $act-unit;

      }
    }
    &label-text {
      display: none;
    }
    &input-wrapper {
      padding: $act-unit-s;
      background: $brand-col-4;
    }
    &input-wrapper-- {
      &textarea{
        background: #eee !important;
      }
      &submit{
        background: transparent;
        width: 100%;
        padding: 0;
        input{
          width: 100%;
          background: $brand-col-3;
          @include act-font-size($act-fs-3);
          padding: $act-unit;
          &:hover{
            background: darken($brand-col-3, 10%);
          }
        }
      }
    }
  }
  input {
    width: 100%;
    color: #fff;
    background: transparent;
    &::placeholder{
      color: #fff;
      opacity: 1;
    }
  }
  select {
    width: 100%;
    color: #fff !important;
    background: transparent !important;
  }
  textarea{
    background: transparent;
    color: white;
    &::placeholder{
      color: $brand-col-1;
      opacity: 1;
    }
  }
}
