/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &main {
    display: none;
    @include mq($from : desktop){
      display: block;
      @include act-font-size($act-fs-5);
    }

    font-weight: bold;
    text-transform: uppercase;
  }

  &footer {
    margin-bottom: $act-unit;
    border-bottom: 1px solid $col-text;

    @include mq($from : tablet) {
      border-bottom: none;
    }

    .c-nav-menu__heading {
      position: relative;
      margin-bottom: $act-unit;
      font-weight: 700;
      font-size: $act-fs-4 * 0.9;

      @include mq($until : tablet) {
        padding-right: $act-unit-l;
        cursor: pointer;

        &::after {
          content: "+";
          position: absolute;
          top: 50%;
          right: 0;
          font-size: 2.4rem;
          transform: translateY(-50%);
        }
      }
    }
  }

  &mobile{
    @include act-font-size($act-fs-5);
  }

  &mobile-2 {
    margin-top: auto;
    padding-top: $act-unit;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: flex;
    text-decoration: none;
    position: relative;
    padding: $act-unit-t;
  }

  &link-text {
    display: block;
  }

  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: center;
  }
  &item{
    display: block;
    @extend .o-list-bare__item;
    margin-left: $act-unit-s;
    &:first-child{
      margin-left: 0;
    }
  }
  &label{
    white-space: nowrap;
  }
  &content {
    display: block
  }
  &footer {
    display: block;
  }
  &icon{
    margin-left: $act-unit-t;
    width: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu__header--] {
  @extend .c-nav-menu__header;
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &social{
    @include mq($from: desktop){
      text-align: left;
      justify-content: flex-start;
    }
  }
  &mobile{
    flex-direction: column;
  }

  &mobile-2 {
    flex-direction: column;
    justify-content: flex-start;
  }

  &footer {
    flex-direction: column;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    @include act-font-size($act-fs-5);

    [class*=c-nav-menu__link--] {
      margin-bottom: $act-unit-s;
      padding: 0;
    }
  }

  &blog{
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  &sub-list{
      &[data-state=off]{
        display: none;
      }
      flex-direction: column;
      @include mq($from: desktop){
        position: absolute;
        background: $brand-col-2;
        padding: $act-unit-s;
        border: solid 1px rgba(white, 0.2);
        box-shadow: 0px 2px  5px rgba(#000, 0.5);
        margin-left: -1px;
      }
    }
  &mobile-sub-list{
    &[data-state=off]{
      display: none;
      padding-bottom: 0;
    }
    padding-bottom: $act-unit-s;
    padding-top: $act-unit-s;
    border-bottom: solid 1px rgba(#fff, 0.2);
    //background: rgba(#fff, 0.5);
    flex-direction: column;
    @include mq($from: desktop){
      //position: absolute;
      //background: $brand-col-2;
      //padding: $act-unit-s;
      //border: solid 1px rgba(white, 0.2);
      //box-shadow: 0px 2px  5px rgba(#000, 0.5);
      //margin-left: -1px;
    }
  }
  &collection-filter{
     justify-content: flex-start;
   }
  &product-filter{
    //@extend .c-nav-menu__list--collection-filter;
    @extend .l-btn-group;
    justify-content: flex-start;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item;
}

.c-nav-menu__item--{
  &social{
      @include size($act-unit-l);
   @include mq($from:desktop){
     margin-right: $act-unit !important;
   }
  }

  &mobile,
  &mobile-2 {
    padding: 0;
    margin-bottom: $act-unit * 1.5;
    font-family: $act-font-family-headings;
    margin-left: 0;
  }

  &mobile-2 {
    margin-bottom: $act-unit-s;
    font-size: $act-fs-5;

  }

  &mobile-sub-item{
    padding: 0;
    margin-bottom: $act-unit-t;
    font-family: $act-font-family-headings;
    margin-left: 0;
  }
  &blog{
    transition: background 0.3s ease-in-out;
    width: 50%;
    text-align: center;
    margin-left: 0 !important;
    &.is-current{
      background: $brand-col-1;
    }
    &:hover, &:focus{
      background: $brand-col-1;
    }
  }
  &footer{
    margin-left: 0 !important;
  }
  &sub-item{
    margin-left: 0;
  }
  &collection-filter{
    margin-left: 0;
    width: $act-unit-h * 1.25;
    max-width: 50%;
    text-align: center;
    &:first-child .c-nav-menu__link--collection-filter {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:last-child .c-nav-menu__link--collection-filter {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  &product-filter{
    //@extend .c-nav-menu__item--collection-filter;
    @extend .l-btn-group__btn;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link;
}

.c-nav-menu__link--{
  &footer{
    @include a($col : $brand-col-3);
  }
  &mobile,
  &mobile-2 {
    @include a($col: white, $col-hov: $col-text);
    font-weight: 300;
    text-transform: uppercase;
    display: inline-flex;
    padding: 0;

    &[data-state=on] {
      //background: rgba(white, 0.5);
    }
  }
  &mobile-sub-link{
    @include a($col: white, $col-hov: $col-text);
    padding: $act-unit-t 0;
    text-transform: uppercase;
    &:hover, &:focus{
      color: white;
    }
  }
  &blog{
    transition: color 0.3s ease-in-out;
    &.is-current{
      color: $brand-col-2;
      font-weight: 700;
    }
    &:hover{
      color: $brand-col-2;
    }
    @include mq($from:desktop){
      justify-content: center;
    }
  }
  &main{
    @include a($col: $brand-col-1, $col-hov: $brand-col-3);
    &[data-state=on]{
      border: solid 1px rgba(white, 0.2);
      border-bottom: none;
      position: relative;
      margin: -1px;
      background: $brand-col-2;
      z-index: 9;
    }
  }
  &sub-link{
    @include a($col: $brand-col-1, $col-hov: $brand-col-3);
  }
  &collection-filter{
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: $act-unit;
    padding-right: $act-unit;
    background-color: $act-grey-light;
    text-transform: uppercase;
    color: $brand-col-2;
    font-size: $act-fs-6;
    transition: all 0.3s;
    .is-current &{
      pointer-events: none;

    }
    .is-current &, &:hover, &active, &:focus{
      background: $brand-col-1 !important;
      color: white !important;

    }


    @include mq($from: tablet) {
      background-color: $act-grey-light;
    }
  }
  &product-filter{
    //@extend .c-nav-menu__link--collection-filter;
    @extend .c-btn--product-radio;


  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__label--

[class*=c-nav-menu__label--] {
  @extend .c-nav-menu__label;
}

.c-nav-menu__label--{
&icon{
  display: none;
}
}



//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__icon--

[class*=c-nav-menu__icon--] {
  @extend .c-nav-menu__icon;
}

.c-nav-menu__icon--{
  &arrow-down{
    transition: transform 0.3s ease-in-out;
    a[data-state=on] &{

      transform: rotateX(180deg);
    }
  }
}
