/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #efefef;
$act-grey-dark : #666;
$act-brand-dark: #181717;

$acstk-literally-black : #0D0D0D;
$acstk-orange : #F26E22;
$acstk-amber : #F2AE30;
$acstk-off-white : #F2F2F2;
$acstk-concrete :#BFBAB0;
$acstk-stone :#A6A197;
$acstk-earth :#59544A;
$acstk-green : #66ffcc;
$acstk-blue : #5cc7f2;
$acstk-pale-grey : #e6e6e6;
$acstk-purple : #4d2b6d;

$brand-col-1 : $acstk-orange;
$brand-col-2 : $act-brand-dark;
$brand-col-3 : $acstk-amber;
$brand-col-4 : $acstk-concrete;
$brand-col-5 : $acstk-stone;
$brand-col-6 : $acstk-pale-grey;
$brand-col-7 :$acstk-purple;
$brand-col-8 : $acstk-blue;
$brand-col-9 : $acstk-blue;


$col-text : black;
$col-heading : $brand-col-2;
$col-link : $brand-col-1;
$col-accent : $brand-col-3;
$col-placeholder : $act-grey-light;
$col-background-dark: $act-brand-dark;
