/*
 *
 */

$act-font-family-sans: "effra",sans-serif;
$act-font-family-serif: "baskerville-urw", serif;
$act-font-family-alt: "co-text",sans-serif;
$act-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$act-font-family-body: $act-font-family-sans;
$act-font-family-headings: $act-font-family-sans;


$acs-font-family-sans: "effra",sans-serif;
$acs-font-family-serif: "baskerville-urw", serif;
$acs-font-family-alt: "co-text",sans-serif;
$acs-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$acs-font-family-headings: "effra", sans-serif;

