/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$acstk-literally-black : #0D0D0D;
$acstk-amber : #F2AE30;
$acstk-off-white : #F2F2F2;
$acstk-green : #66ffcc;
$acstk-blue : #5cc7f2;
$acstk-pale-grey : #e6e6e6;
$acstk-purple : #4d2b6d;

$brand-col-1 : $acstk-literally-black;
$brand-col-2 : $acstk-off-white;
$brand-col-3 : $acstk-amber;
$brand-col-4 : $acstk-green;
$brand-col-5 : $acstk-blue;
$brand-col-6 : $acstk-pale-grey;
$brand-col-7 :$acstk-purple;
$brand-col-8 : $acstk-blue;
$brand-col-9 : $acstk-blue;


$col-text : #fff;
$col-heading : #fff;
$col-link : $brand-col-3;
$col-accent : $brand-col-3;

