#shopify-section-footer {
  background-color: $brand-col-1;

  a {
    color: black;

    &:hover {
      color: white;
    }
  }

  #footer-header {
    display: flex;
    margin-bottom: $act-unit-l;

    > .l-footer__site-title {
      flex: 0 0 calc((100% / 3) * 2);
    }

    > .c-btn--scroll-top {
      flex: 0 0 calc(100% / 3);
    }
  }

  #footer-content {
    display: flex;

    #footer-menus {
      display: flex;
      flex: 0 0 calc((100% / 3) * 2);

      .l-footer__nav-menu {
        flex: 1;
      }
    }

    .l-footer__subscribe-form {
      flex: 0 0 calc(100% / 3);
      margin-top: 0;
    }
  }
}

/*
  BEM BLOCK .l-footer
 */

.l-footer {
  display: block;

  @include contained-content();

  padding-top:  $act-unit-l * 1.2;
  padding-bottom: 0;
}

/*
  BEM BLOCK MODIFIER .l-footer--
 */

.l-footer-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-footer--

[class*=l-footer--] {
  @extend .l-footer;
}

/*
  BEM ELEMENTS .l-footer__
 */

.l-footer__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &site-title{
  }
  &site-info{
    background: $brand-col-1;
    padding: $act-unit-t;
    margin-top: $act-unit;
    @include breakout-band($bgc : $brand-col-1);
    color:  $brand-col-2;
    overflow: visible;
    @include act-font-size($act-fs-5);
    a{
      @include a($col : $brand-col-2);
      text-decoration: none;
    }
    @include mq($from: desktop){
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  &nav-menu{
    @include mq($from: desktop){
      grid-row-start: 2;
      grid-column-start: 1;
    }
  }
  &subscribe-form{
    @include mq($from: desktop){
      margin-top: $act-unit;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
    }

  }
  &socials{
    @include mq($from: desktop){
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-footer--

[class*=l-footer__header--] {
  @extend .l-footer__header;
}
