/*
  BEM BLOCK .l-collection-list
 */

.l-collection-list {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-collection-list--
 */

.l-collection-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-collection-list--

[class*=l-collection-list--] {
  @extend .l-collection-list;
}

/*
  BEM ELEMENTS .l-collection-list__
 */

.l-collection-list__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &list{
    @extend .o-list-bare;
    @include mq($from:desktop){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &item {
    position: relative;
    margin-bottom: $act-unit;
    padding-bottom: $act-unit;
    //border-bottom: solid 1px $brand-col-6;
    @include mq($from: desktop) {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      &:nth-child(even) {
        justify-content: flex-start;
      }
    }
  }
    &product-thumb{
      @include mq($from:desktop){
        height: 100%;
        width: 700px;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
      }
    }
    &collection-thumb{
      @include mq($from:desktop){
        height: 100%;
        width: 700px;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
      }
    }
}

//BEM ELEMENT MODIFIER FALLBACK .l-collection-list--

[class*=l-collection-list__header--] {
  @extend .l-collection-list__header;
}
