/*
  BEM BLOCK .l-page-after
 */

.l-page-after {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-page-after--
 */

.l-page-after-- {
  &type {
    display: block
  }
  &question-template{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }
  &story{
    display: flex !important;
    flex-wrap: wrap;
  }
  &product{
    @include contained-content();
    padding: 0 !important;
  }

}

//BEM BLOCK MODIFIER FALLBACK .l-page-after--

[class*=l-page-after--] {
  @extend .l-page-after;
}

/*
  BEM ELEMENTS .l-page-after__
 */

.l-page-after__ {
  &section{
     display: block;
     padding: $act-unit-h $act-unit;
   }
  &section-col{
    flex-basis: 33.33%;
  }
  &header {
    display: block
  }

  &heading {
    display: block;
    @include act-font-size($act-fs-4);
    margin-bottom: $act-unit-s;
    padding-top: 0;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &intro{

      @include act-font-size($act-fs-5);
      strong{
        font-weight: 700;
      }

  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page-after--

[class*=l-page-after__header--] {
  @extend .l-page-after__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-page-after__content--

[class*=l-page-after__content--] {
  @extend .l-page-after__content;
}

.l-page-after__content--{
  &product-list{
    @include mq($from: desktop){
      width: 50%;
    }
    h2{
      @include act-font-size($act-fs-m);
      text-transform: uppercase;
    }
  }
  &address{
    text-transform: none;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page-after__section--

[class*=l-page-after__section--] {
  @extend .l-page-after__section;
}
.l-page-after__section--{
  &sport-info{
    background: $brand-col-6;
    padding-top: $act-unit;
    margin-bottom: 0;
    padding-bottom: 0;
    @include mq($from : tablet){
      padding-top: $act-unit-l;
      padding-bottom: $act-unit;
    }
  }
  &sport-product{
    padding-top: $act-unit;
    margin-bottom: 0;
    padding-bottom: 0;
    @include mq($from : tablet){
      padding-top: $act-unit-l;
      padding-bottom: $act-unit;
    }
  }
  &additional-content{
    display: flex;
    flex-direction: column;
    background: $brand-col-6;
    @include mq($from : tablet){
      gap: 10%;
      flex-direction: row;
      padding-top: $act-unit-l;
      padding-bottom: $act-unit;
    }
  }
  &sport-footer{

    @include mq($from : tablet){
      padding-top: $act-unit-l;
      padding-bottom: $act-unit;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page-after__section-col--

[class*=l-page-after__section-col--] {
  @extend .l-page-after__section-col;
}

.l-page-after__section-col--{
  &image{
  flex-basis: 40%;
  }
  &content{
    flex-basis: 60%;
  }
}
