/*
  BEM BLOCK .l-off-page-container
 */

 .site__off-page-container {

 }

.l-off-page-container {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  left: 0;

  &,
  .l-off-page-container--mobile-nav-inner,
  .l-off-page-container--cart-inner{
    position: fixed;
    z-index: 1000;
    opacity: 0;
    padding: 0;
    top: 0;
    height: 100vh;
    transition: opacity 0.3s ease-in-out;
  }

  .l-off-page-container--mobile-nav-inner,
  .l-off-page-container--cart-inner{
    display: flex;
    flex-direction: column;
    left: unset;
    right: 0;
    overflow: auto;
    background: $brand-col-1;
    color: white;
  }
  .l-off-page-container--cart-inner{
    background: $brand-col-2;
  }

  &[data-state=off] {
    &,
    .l-off-page-container--mobile-nav-inner {
      opacity: 0 !important;
    }
    .l-off-page-container--cart-inner {
      opacity: 0 !important;
    }
  }

  &[data-state=on] {
    &,
    .l-off-page-container--mobile-nav-inner {
      opacity: 1;
    }
    .l-off-page-container--cart-inner {
      opacity: 1 !important;
    }
  }

  @include mq($from : desktop) {
    //display: none !important;
  }
}

/*
  BEM BLOCK MODIFIER .l-off-page-container--
 */

.l-off-page-container-- {
  &type {
    display: block;
  }
  &full-fade{
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $brand-col-4;
  }
  &mobile-nav-inner {
    width: 380px;
    max-width: 100%;

    @include mq($from : tablet) {
      max-width: 60%;
    }
  }
  &cart-inner {
    width: 600px;
    max-width: 100%;
    @include mq($from : tablet) {
      max-width: 60%;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-off-page-container--

[class*=l-off-page-container--] {
  @extend .l-off-page-container;
}

/*
  BEM ELEMENTS .l-off-page-container__
 */

.l-off-page-container__ {
  &header {
    display: block;
    margin-bottom: $act-unit-l;
    padding: $act-unit-l $act-unit-l 0;
    text-align: right;
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &nav-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 $act-unit-l $act-unit $act-unit-l;
  }
  &cart {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 $act-unit-s $act-unit-h $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-off-page-container--

[class*=l-off-page-container__header--] {
  @extend .l-off-page-container__header;
}
