/*
  BEM BLOCK .l-item-list
 */

.l-item-list {
  display: block;
  color: $brand-col-2;
}

/*
  BEM BLOCK MODIFIER .l-item-list--
 */
.l-item-list-- {
  &type {
    display: block
  }
  &blog{
    background: #fff;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-item-list--

[class*=l-item-list--] {
  @extend .l-item-list;
}

/*
  BEM ELEMENTS .l-item-list__
 */

.l-item-list__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    text-align: center;
    @include act-font-size($act-fs-1);
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block;
    text-align: center;
  }
  &list{
    @extend .o-list-bare;
    margin-bottom: 0;
    @include mq($from:desktop){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &item{
    margin-bottom: $act-unit-l;
    @include mq($from:desktop){
      width: 33.33%;
    }
  }
  &thumb{
    @include mq($from:desktop){
      width: $act-wrapper-width;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &footer{
    margin-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-item-list__header--

[class*=l-item-list__header--] {
  @extend .l-item-list__header;
}

.l-item-list__heading--{

}

//BEM ELEMENT MODIFIER FALLBACK .l-item-list__list--

[class*=l-item-list__list--] {
  @extend .l-item-list__list;
}

.l-item-list__list--{
  &more{
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    height: auto;
    &[data-state=on]{
      max-height: 3000px;
    }
  }
  &blog{
    display: block;
  }
}

// BEM ELEMENT MODIFIER FALLBACK .l-item-list__link--

[class*=l-item-list__link--] {
  @extend .l-item-list__link;
}

.l-item-list__link--{
  &btn{
    @extend .c-btn;
    @extend .c-btn--content-block;
    padding-left: $act-unit-t;
    padding-right: $act-unit-t;
    color: $brand-col-3 !important;
    max-width: 100%;
    display: inline-block;
    &:focus{
      color: $brand-col-3 !important;
    }
    &:hover{
      color: $brand-col-3 !important;
      margin-left:auto !important;
      margin-right:auto !important;
    }
  }
  &block{
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

}

// BEM ELEMENT MODIFIER FALLBACK .l-item-list__item--

[class*=l-item-list__item--] {
  @extend .l-item-list__item;
}

.l-item-list__item--{

  &blog{
    margin-bottom: $act-unit;
  width: 100%;
  }
  &product-sport{
    width: 100%;
  }
  &sport-info{
    width: 100%;
  }

}
