/*
  BEM BLOCK .l-content-section
 */

.l-content-section {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-content-section--
 */

.l-content-section-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-content-section--

[class*=l-content-section--] {
  @extend .l-content-section;
}

/*
  BEM ELEMENTS .l-content-section__
 */

.l-content-section__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &container{
    padding: $act-unit;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-content-section--

[class*=l-content-section__header--] {
  @extend .l-content-section__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-content-section__container--

[class*=l-content-section__container--] {
  @extend .l-content-section__container;
}
