#shopify-section-footer {
  background-color: $brand-col-1;

  a {
    color: black;

    &:hover {
      color: white;
    }
  }

  #footer-header {
    margin-bottom: $act-unit-l;

    @include mq($from: tablet) {
      display: flex;
      align-items: flex-start;

      > .l-footer__site-title {
        flex: 0 0 calc((100% / 3) * 2);
      }
    }

    > .l-footer__scroll-top {
      display: none;
      flex: 0 0 calc(100% / 3);

      @include mq($from: tablet) {
        display: block;
      }

      .c-btn--scroll-top {
        background-color: transparent;
        padding: 0;
        min-width: 0;
        border-radius: 0;
        border: none;
        font-weight: bold;

        .c-btn__label {
          margin-left: $act-unit;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  #footer-content {
    margin-bottom: $act-unit-l;

    @include mq($from: tablet) {
      display: flex;
    }

    #footer-menus {
      margin-bottom: $act-unit-l;

      @include mq($from: tablet) {
        display: flex;
        flex: 0 0 calc((100% / 3) * 2);
        margin-bottom: 0;
        margin-left: -$act-unit-s / 2;
        margin-right: $act-unit-s / 2;

        .l-footer__nav-menu {
          flex: 1;
          padding-left: $act-unit-s / 2;
          padding-right: $act-unit-s / 2;
        }
      }
    }

    .l-footer__subscribe-form {
      flex: 0 0 calc(100% / 3);
      margin-top: 0;
    }
  }
}

/*
  BEM BLOCK .l-footer
 */

.l-footer {
  display: block;

  @include contained-content();

  padding-top:  $act-unit-l * 1.2;
  padding-bottom: 0;
}

/*
  BEM BLOCK MODIFIER .l-footer--
 */

.l-footer-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-footer--

[class*=l-footer--] {
  @extend .l-footer;
}

/*
  BEM ELEMENTS .l-footer__
 */

.l-footer__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &site-title{
  }

  &site-info {
    padding-top: $act-unit-l;
    padding-bottom: $act-unit-l;
    @include act-font-size($act-fs-6);

    a {
      text-decoration: none;
    }
  }

  &subscribe-form {
    //.c-header__heading--footer {
    //  font-size: $act-fs-3 * 1.2;
    //  font-weight: 600;
    //}

    .c-contact-form__label-text {
      display: none;
    }

    .c-contact-form__input--text {
      width: 100%;
      margin-bottom: 0;
    }

    .c-btn--contact-form {
      background-color: $brand-col-2;

      &:focus,
      &:active,
      &:hover {
        background-color: white;
        border-color: white;
        color: $brand-col-2;
      }
    }
  }
  &socials{
    @include mq($from: desktop){
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-footer--

[class*=l-footer__header--] {
  @extend .l-footer__header;
}

.c-icon-list--payment {
  margin-left: -$act-unit-s / 2;

  .c-icon-list__list--payment {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    li {
      padding-left: $act-unit-s / 2;
      padding-right: $act-unit-s / 2;

      svg {
        filter: grayscale(1) invert(1);
      }
    }
  }
}
