@mixin width($width : $act-site-width, $max-width : 100%){
  width : $width;
  max-width : $max-width;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin contained-content() {
  max-width: $act-wrapper-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $act-unit;
}

@mixin hero-section-height() {
  min-height: 75vw;

  @include mq($from: tablet) {
    min-height: 56.25vw;
  }
}
