{% assign  productIds = product.metafields.global.bundle_products %}
{% assign  productIdsArray = productIds | split : ',' %}
{%- capture productIdsAtt -%}
  [{%- for item in productIdsArray -%}
  {% assign productType = 'pair-' %}
  {% if item == "bearhug-tee" %}{% assign productType = '' %}{% endif %}
  "/pages/size-guide-{{ productType }}{{ item }}"{% if forloop.last != true %},{% endif %}
{%- endfor -%}]
{%- endcapture -%}

{% if productIdsAtt != "[]" %}
<div class="c-product-form__link--size-guide">
  <div class="c-btn--size-guide">
    <a class="c-btn__link--size-guide" data-ajax-id='{{ productIdsAtt }}' data-remodal-ajax-bundle="{{  product.handle }}" data-remodal-target="modalSizeGuide" href="#modalSizeGuide" data-remodal>
      <span class="c-btn__label--size-guide">Size & Fit Guide</span>
      <span class="c-btn__icon">
              {% include 'svg-icon' with {icon : 'icon-arrow-up'} %}
            </span>
    </a>
  </div>
  <div id="modalSizeGuide" class="remodal" data-remodal-id="modalSizeGuide" data-remodal-options="hashTracking: false," >
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="remodal-ajax-content" data-ajax-content>
      <div class="c-size-guide__loading">
        Size Guide Loading...
      </div>
    </div>
  </div>
</div>
{% endif %}
