{%- assign related_products_title = "Upgrade to a Bundle" -%}
{% assign  relatedJoints = '' %}
{% for item in cart.items %}
  {%- assign productJoints = 'thigh,knee,elbow,wrist,ankle,calf' -%}
  {%- assign productJointsArray = productJoints | split: ','-%}
  {% for joint in productJointsArray %}

    {% assign productTitle = item.product.title | downcase %}

    {%- if productTitle contains joint -%}
      {%- if relatedJoints != '' -%}
        {%- assign relatedJoints = relatedJoints | append: ',' -%}
      {%- endif -%}
      {%- assign relatedJoints = relatedJoints | append: joint -%}
    {%- endif -%}

{% endfor %}
{% endfor %}

{% assign relatedJointsArray =  relatedJoints | split: ','%}

{%- assign related_count = 0 -%}
{%- capture shopify_explorer_related_bundle_product -%}
{% for product in collections['bundles'].products %}
  {% for joint in relatedJointsArray %}
   {% if product.handle contains joint or product.tags contains joint%}
     {%- assign related_count = related_count | plus: 1 -%}
     <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
       <div class="l-product-list__item-thumb">
         {% include 'acstk-item-thumb' with {templateProduct : related_product}%}
       </div>
     </div>
    {% endif %}
    {% endfor %}
{% endfor %}
{%- endcapture -%}


{%- if related_products_title != blank and related_count > 0-%}
	<div class="l-product-list__header">
		<h2 class="l-product-list__heading">{{ related_products_title }}</h2>
	</div>
{%- endif -%}
  <div class="l-product-list">
    <div class="l-product-list__list">
      {{ shopify_explorer_related_bundle_product }}
    </div>
  </div>
{%- assign related_products_title = nil -%}
{%- assign recommendations = nil -%}
{%- assign related_handle = nil -%}
{%- assign related_product = nil -%}
{%- assign related_count = nil -%}
