
<header class="l-footer__header">
  <div class="c-header--footer">
    <h4 class="c-header__heading--footer">
          <span class="c-header__title">#JOINTHEPACK</span>
    </h4>
  </div>
</header>
<div class="l-footer__contact-form">
  <div class="c-contact-form--subscribe">
    <div class="c-contact-form__form-wrapper">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="c-contact-form__confirm--success form--success">Thanks for subscribing</p>

        {% else %}

          <input type="hidden" name="contact[tags]" value="newsletter">
          <label class="c-contact-form__label" >
              <span class="c-contact-form__label-text" >Email</span>
                      <span class="c-contact-form__input-wrapper" >
                <input class="c-contact-form__input--text" type="email"
                       name="contact[email]"
                       id="Email"
                       class="input-group__field newsletter__input"
                       value="{% if customer %}{{ customer.email }}{% endif %}"
                       placeholder="Enter your email address"
                       autocorrect="off"
                       autocapitalize="off">
              </span>
          </label>
          <div class="c-contact-form__input-wrapper--submit" >
            <div class="c-contact-form__btn">
              <button type="submit" class=" c-btn--contact-form" name="commit" id="Subscribe">
                <span class="o-btn__text">Subscribe</span>
              </button>
            </div>
          </div>

        {% endif %}
      {% endform %}
    </div>

  </div>
</div>


