<div class="customer-account__notice">
  <div class="customer-account__notice-header" >
    <h6 class="customer-account__notice-heading" >Account Notice</h6>
  </div>
  <div class="customer-account__notice-content" >
    <p><small>Your account is inactive and currently under review. We will review your account shortly and email you once it has been activated.</small></p>
  </div>
</div>
