{% if templateObject != nil %}
  <!-- templateObject not nil -->
  {% assign item = templateObject %}
{% else %}
  <!-- templateObject nil test -->
  {% assign item = article %}
{% endif %}


{% if item.image != blank %}
  {% assign itemFeatuerImage = item.image %}
{% else %}
  {% assign  itemFeatuerImage = images['stockist-fallback.png'] %}
{% endif %}

{% assign googleMap = item.metafields.global.google_map %}
{% assign email = item.metafields.global.email %}

<div class="c-item-thumb--stockist">
  <div class="c-item-thumb__featured-image">
      <div class="c-featured-image--stockist">
        {% include 'responsive-image' with
          image: itemFeatuerImage,
          max_width: 700,
          max_height: 700,
          wrapper_class : 'c-featured-image__wrapper--stockist',
          image_class : 'c-featured-image__img--stockist'
        %}
      </div>
  </div>

    <div class="c-item-thumb__info">

      <h5 class="c-item-thumb__heading">
        <span class="c-item-thumb__title">{{ item.title }}</span>
      </h5>

        {% if item.content != blank %}
          <div class="c-item-thumb__rte--stockist rte" >
            {{ item.content }}
          </div>
        {% endif %}

      <div class="c-item-thumb__footer--stockist">
        {% if googleMap != blank %}
        <a href="{{ googleMap }}" target="_blank">
          Map<span class="c-btn__icon">
            <span class="o-svg-icon c-svg-icon--icon-arrow-up">
              <svg preserveAspectRatio="none" class="o-svg-icon__svg c-svg-icon__svg--icon-arrow-up">
                <use xlink:href="#icon-arrow-up"></use>
              </svg>
            </span>
          </span>
        </a>
        {% endif %}
        {% if email != blank %}
        <a href="mailto:{{ email }}" >
          Contact<span class="c-btn__icon">
            <span class="o-svg-icon c-svg-icon--icon-arrow-up">
              <svg preserveAspectRatio="none" class="o-svg-icon__svg c-svg-icon__svg--icon-arrow-up">
                <use xlink:href="#icon-arrow-up"></use>
              </svg>
            </span>
          </span>
        </a>
        {% endif %}
      </div>

    </div >


</div>
