<nav id="primaryNavigation" role="navigation" class="nav-main" data-container="mobileNav" data-state="off">
  <div  class="nav-main__header">
    <span id="menuButtonClose" class="nav-main__close" data-control="mobileNav" data-state="off">
    {% include 'icon-close' %}
  </span>
  </div>
  {%- for linklist in linklists -%}
    <!-- linklist.handle {{ linklist.handle }} -->
  {%- endfor -%}
  <ul class="nav-main__list">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {%- assign has_mega = false -%}
      {%- assign has_dropdown = false -%}

      {%- for list in linklists -%}
        {%- if list.handle contains child_list_handle -%}
          {%- unless list.handle contains 'child' -%}
          {%- assign has_mega = true -%}
          {%- break -%}
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if link.links.size > 0 -%}
        {%- assign has_dropdown = true -%}
      {%- endif -%}

      {% if has_mega %}
        {% include "nav-main-mega" %}
        {% elsif has_dropdown %}
        {% include "nav-main-dropdown" %}
      {% else %}
        {% include "nav-main-single" %}
      {% endif %}
    {% endfor %}
  </ul>




</nav>
