{% paginate blog.articles by 24 %}

<div class="l-main__page--blog">
  <div class="l-page--blog">

<div class="l-page__header--blog">
  <header class="c-header--blog" role="banner">
    <h1 class="c-header__heading--blog" >
      <span class="c-header__title">{{ blog.title }}</span>
    </h1>
    <h4 class="c-header__sub-heading--blog">
      Bamboo joint and muscle sleeves created for exercise, recovery and pain relief.
    </h4>
  </header>

</div>


  {% comment %}

  Article Previews
  ====================
  {% endcomment %}
    <div class="l-page__thumb-list">
      <div class="l-thumb-list--blog">
        <ul class="l-thumb-list__list--blog" data-isotope="blog">
          {% for item in blog.articles %}
            <li class="l-thumb-list__item--blog">
              <div class="l-thumb-list__thumb">
                {% include 'ac-item-thumb-article' with modClass : '--blog' %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% if paginate.pages > 1 %}
    <div class="l-page__footer">
      <div class="l-page__pagination">
        {% include 'pagination' %}
      </div>

    </div>
  {% endif %}
  </div>
  <div class="l-page-after--blog">
    {% assign collection = collections['blog'] %}
    <div class="l-page-after__content--product-list">
      {{ collection.description }}
    </div>
    <div class="l-page-after__product-list">
      <div class="l-product-list">
        <div class="l-product-list__list">
          {% for product in collection.products limit:4 %}

            <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
              <div class="l-product-list__item-thumb">
                {% include 'acstk-item-thumb' %}
              </div>
            </div>


          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endpaginate %}
