{% assign hideTitle = collection.metafields.global.hide_title %}
{% assign collectionLogo = images[collection.metafields.global.logo] %}
{% assign featureImage = images[collection.metafields.global.feature_image_desktop] %}


{% if collection.metafields.global.collection_header_logo %}
{% assign collectionHeaderLogo = images[collection.metafields.global.collection_header_logo] %}
{% endif %}
{% paginate collection.products by 12 %}
  <div class="l-main__page--collection">

    <div class="l-page--collection">
      <div class="l-page__header--collection">
        <header class="c-header--collection">
          <h1 class="c-header__heading--collection">
           <span class="l-page__title">{{ collection.title }}</span>
          </h1>
        </header>
                {% if collection.image.src %}
                  <div class="l-page__feature-image--collection">
                    {% include 'responsive-image' with
                      image: collection.image,
                      max_width: 800,
                      max_height: 1000
                    %}


                    <div class="l-page__icon--scroll-collection" data-js-scroll-down >
                      {% include 'icon-bbd-scroll' %}
                    </div>
                  </div>
                {% else %}
                  <!-- no collection image -->
                {% endif %}
                <div class="l-page__feature-image--collection-desktop">

                  {% include 'responsive-image' with
                    image: featureImage,
                    max_width: 1200,
                    max_height: 1000
                  %}
                  {% comment %}
                    <div class="l-page__icon--scroll-collection" data-js-scroll-down >
                      {% include 'icon-scroll' %}
                    </div>
                  {% endcomment %}

                </div>
        <div class="l-page__tag-list">
          {% include 'ac-tag-list' %}
        </div>

      </div>
      <div class="l-page__collection-intro">

        {% if collection.description != blank %}
          <div class="l-page__content--collection">
            <div class="rte">
              {{ collection.description }}
            </div>
          </div>
        {% endif %}
      </div>


  <div class="l-page__product-list">
    <div class="l-product-list">

      <div class="l-product-list__list">
    {% for product in collection.products %}

      <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
        <div class="l-product-list__item-thumb">
          {% include 'acstk-item-thumb' %}
        </div>
      </div>


    {% endfor %}
      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
    </div>
  </div>
{% endpaginate %}
