/*================ Overlay ================*/
@mixin overlay($z-index: null) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @if ($z-index) {
      z-index: $z-index;
    }
  }
}

$transition-buttons: all 0.35s cubic-bezier(0, 0, 0, 1);
$transition-slideshow: all 0.5s cubic-bezier(0, 0, 0, 1);
$transition-image-slideshow: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87),
filter 400ms, -webkit-filter 400ms;
$button-size: 30px;

.responsive-image__wrapper{
  margin-left: auto;
  margin-right: auto;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.flickity-page-dots .dot {
  background: #fff !important;
}


[data-container][data-state=off]{
  pointer-events: none !important;
  *{
    pointer-events: none;
  }
}

[data-control]{
  &[data-state=off]{
   // pointer-events: none !important;
    [data-lable=off]{
      display: none;
    }
  }
  &[data-state=on]{
    // pointer-events: none !important;
    [data-lable=on]{
      display: none;
    }
  }
}

.shopify-section{
  @include mq($from: desktop){
    width: 100%;
    &.is-section-width-50{
      width: 50%;
    }
  }
}




// AJAX CART

.js-drawer-open-right .drawer--right {
  display: block;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.drawer--right {
  width: 600px;
}

.drawer {
  top: 0;
  padding: 0 13px 15px;
}

.drawer--right {
  width: 600px;
  right: -300px;
  border-left: 1px solid #f2f2f2;
}

.drawer {
  -webkit-transform: translateZ(0);
  will-change: transform;
  display: none;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  padding: 0 15px 15px;
  max-width: 95%;
  z-index: 10;
  color: #000;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
}
#CartDrawer .drawer__close {
  font-weight: bold;
}
.drawer__close {
  position: absolute;
  right: 4px;
  top: 19px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}

.ajaxcart__qty {
  margin: 0;
}
 .ajaxcart__qty {
  position: relative;
  margin-bottom: 0;
  overflow: visible;
  display: block;
}
.js-qty{
  position: relative;
  margin-bottom: 0;
  overflow: visible;
  display: flex;
  justify-content: space-around;
}
.js-qty__num{
  width: 100%;
  display: none;
  border-radius: $act-unit-t;
}
.ajaxcart__qty--minus {
  border-color: #f2f2f2;
}
.ajaxcart__qty-adjust {
  color: #000;
}
.js-qty__adjust--minus, .ajaxcart__qty--minus {
  left: 0;
  border-right: 1px solid #e5e5e5;
}

.ajaxcart__qty-adjust {
  cursor: pointer;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  user-select: none;
  display: none !important;

}
.js-qty__adjust{
  cursor: pointer;
  display: block;
  border: 0 none;
  padding: $act-unit-t;
  background: none;
  text-align: center;
  overflow: hidden;
  user-select: none;
  color:white;
  background: $brand-col-2;
  @include size($act-unit * 1.5);
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  display: none !important;
}

.js-qty input, .ajaxcart__qty input, .ajaxcart__qty input {
  line-height: 1.2;
}

.js-qty input, .ajaxcart__qty input {
  display: block;
  width: 3em;
  background: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: solid 1px $brand-col-2;
  border-radius: 0;
}

.drawer input, .drawer textarea {
  border-color: #f2f2f2;
}

.ajaxcart__qty--plus {
  border-color: #f2f2f2;
}

.js-qty__adjust--plus, .ajaxcart__qty--plus {
  right: 0;
  border-left: 1px solid #e5e5e5;
}

.admin-bar{
  //display: none !important;
}

#preview-bar-iframe{
  //display: none !important;
}

[data-control]{
  cursor: pointer !important;
}

//Facebook reviews

#wprev-slider-2656 .wprev_preview_bg1_T1 {
  background: $brand-col-2 !important;
  color: white;

}

#wprev-slider-2656 .wprev_preview_tcolor1_T1 {
  color: #fff !important;
  text-align: left !important;
}

.wprevpro_t1_DIV_2::before {
  color: #fff !important;
  content: '\201C';

}

.wprevpro_t1_DIV_2::after {
  border-top-color: $brand-col-2 !important;

}

.wprevpro_t1_SPAN_5 {
  color:$brand-col-2 !important;
  text-transform: none !important;

}

#wprev-slider-2656 .wprev_preview_bradius_T1 {
  border-radius: $act-unit !important;

}

.wprevpro_t1_P_3 {
  text-align: center !important;

}

body .remodal-wrapper {
  padding-top: $act-unit;
  padding-bottom: $act-unit;

  &.remodal-is-opened {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}

// .remodal-overlay {
//   &.remodal-is-opened {
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
//   }
// }

body .remodal {
  position: relative;
  width: 1400px;
  max-width: 90% !important;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: $act-unit-l * 2 $act-unit $act-unit $act-unit;
  text-align: left;

  .remodal-close {
    top: $act-unit;
    left: unset;
    right: $act-unit-l;
    color: $brand-col-1;
    width: unset;

    &::before {
      position: unset;
      width: unset;
      font-family: unset !important;
      font-weight: 100;
      font-size: 35px;
    }

    &:hover {
      color: $col-text;
    }
  }

  .responsive-image__wrapper {
    width: 100%;
    max-width: none !important;
  }

  .responsive-image__image {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 700px;
  }

  .c-product-thumb__title {
    text-transform: uppercase;
    font-size: 1.77776rem;
    font-weight: 900;
    line-height: 1;
  }

  .c-product-thumb {
    @include mq($from : tablet) {
      display: flex;

      .c-product-gallery {
        flex: 0 0 50%;
        padding: 0 $act-unit;
      }

      .c-product-thumb__info {
        flex: 0 0 50%;
      }
    }
  }
}

.bnfnFq.bnfnFq.bnfnFq {

  margin: 0px !important;
  max-width: none !important;
  padding: 0;

  button{
    border-radius: $act-unit-s !important;
    padding-left: $act-unit-l !important;
    padding-right:  $act-unit-l !important;
  }

}

.IyeVl.IyeVl.IyeVl {
  padding: 12px 24px 12px 0px !important;

  max-width: 500px;
  input{
    border-radius: 12px !important;
  }
}

.ql-editor{
  p:nth-child(3){
    border: dashed #333 !important;
    padding: $act-unit-s 0 !important;
    border-radius: $act-unit-s !important;
  }
}

.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa {

  background: $brand-col-3;

}

.shopify-policy__container{
  margin-bottom: $act-unit;
}


/*================ Hero and slideshow headers ================*/
.mega-subtitle {
  @include mq($from : tablet) {
    margin: 0 auto;
    max-width: 75%;
  }

  p {
    color: inherit;
  }
}

.mega-subtitle--large {
  font-size: rem(20);
  font-weight: 900;
}

// --- General pages -- //

body:not(.template-index):not(.template-collection):not(.template-page-story):not(.template-page-training) {
  #masthead {
    margin-bottom: $act-unit-l;
  }

  .c-site-title__img--desk,
  .c-site-title__img--mob {
    filter: brightness(0);
  }

  .c-nav-menu__link--main,
  .c-site-control__list a {
    color: $col-text;

    &:hover,
    &:focus,
    &:active {
      color: $brand-col-1 !important;
    }
  }
}

// -- Index page -- //

.template-index,
.template-page-story,
.template-collection,
.template-page-training{
  #shopify-section-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
  }

  #masthead {
    background-color: transparent;
  }

  .c-nav-menu--main {
    .c-nav-menu__link--main {
      color: white;

      &:hover {
        color: $brand-col-1;
      }
    }
  }
}

//

.slideshow {
  display : flex;
  position: relative;
  overflow: hidden;
  max-height: calc(100vh - #{$act-unit-l});
}

.slideshow--full .slideshow {
  height: calc(100vh - #{$act-unit-l});
}

.slideshow__overlay {
  @include overlay(3);
}

.slideshow__slides {
  margin-left: 0;
  margin-bottom: 0;
}

.slideshow__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: $transition-slideshow;
}

.slideshow__slide--active {
  transition: $transition-slideshow;
  opacity: 1;
  z-index: 20;
}

.slideshow__slide--transitioning {
  opacity: 1;
  z-index: 10;
}

.slideshow__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
  transition: $transition-image-slideshow;
  font-family: "object-fit: cover";

  .placeholder-background {
    background-color: $brand-col-1;
  }

  .placeholder-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-height: none;
    max-width: none;
    transform : (translate(-50%, -50%));
  }
}

#Slideshow-ac-slideshow {
  @include  mq($until : tablet) {
    min-height: 75vw;
  }
}

.slideshow__video,
.slideshow__video iframe {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  visibility: hidden;
  transition: $transition-slideshow;
  pointer-events: none;

  .slideshow--adapt & {
    @include hero-section-height();
  }

  @include  mq($until : desktop) {
    display: none;
  }

  // https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#aspect-ratio
  @media (min-aspect-ratio: 16/9) {
    height: 300%;
    top: -100%;
  }

  @media (max-aspect-ratio: 16/9) {
    width: 300%;
    left: -100%;
  }

  .slideshow__video--loaded:not(.slideshow__video--paused) & {
    opacity: 1;
    visibility: visible;
  }
}

.slideshow__video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.slideshow__text-actions {
  display: none;
  align-items: center;

  @include mq($from: tablet) {
    display: flex;
  }
}

.slideshow__play-button {
  opacity: 0;
  position: relative;
  margin-left: $act-unit;
  height: 46px;
  width: 46px;
  padding: 0;
  transition: all 0.5s ease;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    transform : scale(1.1);
  }

  &:hover,
  &:disabled {
    opacity: 0;
  }

  .slideshow__video--loaded & {
    opacity: 1;
  }

  // @include  mq($from : mobile) {
  //   display: none;
  // }

  .visually-hidden {
    display: inline-block;
    text-indent: -9999px;
  }
}

.slideshow__play-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-color: transparent transparent transparent #fff;
  border-width: 0 0 0 12px;
  border-style: double;
  transition: border 0.1s ease;
  transform : (translate(-42%, -50%));

  .is-paused & {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 4px solid transparent;
  }
}

.slideshow__play-button-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  height: 46px;
  width: 46px;
  border-radius: 23px;
  transform : (translate(-50%, -50%));
}

.slideshow__text-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform : (translate3d(0, -50%, 0));
  z-index: 20;
  width: 100%;
  max-width: 100%;
}

.slideshow__text-content {
  @include contained-content();

  .slideshow--adapt:not(.slideshow--center-cta) & {
    @include  mq($from : mobile) {
      display: none;
    }
  }
}

.slideshow__text-container-mobile {
  position: relative;
  transform: none;

  @include contained-content();

  padding-top: $act-unit-h;
  padding-bottom: $act-unit-h;

  @include mq($from: tablet) {
    display: none;
  }
}

.slideshow__text-content-mobile {
  padding-left: 0;
  padding-right: 0;

  @include mq($from: tablet) {
    display: none;
  }
}

.slideshow__heading {
  display: none;
  text-transform: uppercase;
  margin-bottom: $act-unit * 2;

  .slideshow--full &,
  .slideshow--adapt .slideshow__text-content-mobile & {
    display: block;
  }

  .slideshow--adapt .slideshow__text-content-mobile & {
    max-width: 75vw;
    margin-bottom: $act-unit;
    font-size: $act-fs-1;
  }

  @include mq($from: tablet) {
    display: block;
    max-width: 50vw;
    font-size: 5.6vw;
    margin-top: $act-unit * 2;
  }
}

.slideshow__heading-cta {
  opacity: 0;
  margin-top: $act-unit * 2;
  transition: opacity 0.6s ease-in;

  @include mq($from: tablet) {
    margin-top: $act-unit * 3;
  }

  .slideshow__slide--active & {
    opacity: 1;
  }

  .slideshow--adapt.slideshow--center-cta & {
    @include  mq($from : mobile) {
      margin-top: 0;
    }
  }

  .slideshow--adapt:not(.slideshow--center-cta) & {
    @include  mq($from : mobile) {
      display: none;
    }
  }
}

.slideshow__heading-cta-text {
  min-width: 90px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: min-height 0.20s ease-out, min-width 0.20s ease-out, opacity 0.15s ease-out;
}

.slideshow__heading-cta-text--active {
  opacity: 1;
}

.slideshow__button-cta-single {
  display: inline-block;

  @include mq($from: tablet) {
    display: none;
  }
}

.slideshow__buttons {
  display : flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 2 + 4;
  transition: $transition-buttons;
  overflow: visible;
  transform-style: flat;

  .supports-no-js & {
    display: none;
  }
}

.slideshow__button {
  display : flex;
  flex-direction: column;;
  align-items: center;;
 flex:0 0 50%;
  position: relative;
  text-align: center;
  white-space: initial;
  transition: $transition-buttons;

  @include  mq($from : mobile) {
    transform : (translateX(50%));
    margin-bottom: $act-unit;
  }

  @include mq($from: tablet) {
    flex:1 1 100%;

    &:hover:not(.slideshow__button--active) {
      transform : (translate3d(0, -16px, 0));
    }
  }

  &:not(.slideshow__button--active) {
    align-self:flex-end;
  }
}

.slideshow__button--4,
.slideshow__button--5 {
  @include mq($from: tablet) {
    transform : (translateX(-50%));

    &.slideshow__button--active {
      transform : (translate3d(-50%, -($act-unit * 3), 0));
    }

    .slideshow--center-cta &.slideshow__button--active,
    &:hover:not(.slideshow__button--active) {
      transform : (translate3d(-50%, -16px, 0));
    }
  }
}

.slideshow__button--4 {
  @include mq($from: tablet) {
    flex:1 0 33%;
  }
}

.slideshow__button--5 {
  @include mq($from: tablet) {
   flex:1 0 25%;
  }
}

.slideshow__button--active {
  transform : (translate3d(50%, -($act-unit * 3), 0));

  &:not(.slideshow__button--link) {
    transform : (translate3d(50%, -16px, 0));

    @include mq($from: tablet) {
      transform : (translate3d(0, -16px, 0));

      &.slideshow__button--4,
      &.slideshow__button--5 {
        transform : (translate3d(-50%, -16px, 0));
      }
    }
  }

  .slideshow--center-cta & {
    transform : (translate3d(50%, -16px, 0));

    @include mq($from: tablet) {
      transform : (translate3d(0, -16px, 0));

      &.slideshow__button--4,
      &.slideshow__button--5 {
        transform : (translate3d(-50%, -16px, 0));
      }
    }
  }

  @include mq($from: tablet) {
    transform : (translate3d(0, -($act-unit * 3), 0));
  }
}

.slideshow__navigation-item {
  position: absolute;
  height: 100%;
  width: 10vh;
  background: transparent;
  border: 0;
  z-index: 2 + 6;

  @include mq($from: tablet) {
    visibility: hidden;
    z-index: 2 + 4;
  }

  &.slideshow__navigation-item--no-focus {
    outline: none;
  }
}

.slideshow__button-next {
  right: 0;
}

.slideshow__button-label {
  color: $brand-col-1;

  @include mq($from: tablet) {
    padding: $act-unit ($act-unit * 2);
    margin: 4px 0 $act-unit-l 0;

  }
}

.slideshow__button-label-text {
  line-height: rem(30);

  .slideshow--center-cta .slideshow__button--active &,
  .slideshow--center-cta .slideshow__button:hover & {
    border-bottom: 2px solid;
    padding-bottom: 5px;
  }
}

.slideshow__button-cta {
  position: absolute;
  left: 50%;
  bottom: -62px;
  transform : (translateX(-50%));

  @include mq($from: tablet) {
    bottom: (-$act-unit) * 3;
  }

  .slideshow__button:not(.slideshow__button--active) & {
    pointer-events: none;
  }

  .slideshow__button--active.slideshow__button--link & {
    bottom: -50px;
  }

  .slideshow__button--active:not(.slideshow__button--link) & {
    bottom: (-$act-unit) * 4;

    @include mq($from: tablet) {
      bottom: (-$act-unit) * 3;
    }
  }
}

.slideshow__button-cta--multiple {
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 0;

  .icon-plus {
    height: 8px;
    width: 8px;
    fill: $brand-col-3;
  }
}

.slideshow__indicators {
  display : flex;
  align-items: center;;
 justify-content: center;
  z-index: 2 + 4;

  .supports-no-js & {
    display: none;
  }

  @include  mq($from : mobile) {
    height: 35px;
  }

  @include mq($from: tablet) {
    display: none;
  }
}

.slideshow__indicator {
  display: block;
  background-color:$brand-col-1;;
  border-radius: 6px;
  border-width: 0;
  margin: 0 5px;
  padding: 0;
  height: 4px;
  width: 4px;
  opacity: 0.7;
  transition: opacity 0.15s ease-out;
}

.slideshow__indicator--active {
  background-color: $brand-col-2;;
  opacity: 1;
}

 @keyframes fadeUp {
  0% {
    transform : (translate3d(0, 10%, 0));
    opacity: 0;
  }

  100% {
    transform : (none);
    opacity: 1;
  }
}

// -- Specific Featured Collection styles -- //

.l-page__product-list,
.l-content-section--feature-collection,
.l-page-after__product-list,
.c-item-thumb--stockist {
  .c-featured-image__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: none !important;
    // margin-bottom: $act-unit;
    padding-top: 100%;
    background-color: $col-placeholder;
  }

  .c-featured-image__img {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: unset !important;
    max-height: unset !important;
    object-fit: contain;
  }

  .c-item-thumb__featured-image {
    position: relative;

    &:hover,
    &:focus,
    &:active {
      .c-item-thumb__quick-cart {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .c-item-thumb__quick-cart {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: $act-unit-s;
    left: $act-unit-s;
    right: $act-unit-s;
    transition: opacity 0.4s;

    /* Hide the quick-cart button only on the home page */
    .template-index &{
      display: none;
    }

    .c-quick-cart__control--quick-cart {
      display: block;
      padding: $act-unit-t $act-unit;
      text-transform: uppercase;
      text-align: center;
      font-size: $act-fs-6;
      border-radius: 1rem;
      background-color: white;
      transition: all 0.3s;

      &:hover,
      &:active,
      &:focus {
        background-color: $brand-col-1;
        color: white;
      }
    }
  }

  .c-item-thumb__title-type {
    display: block;
    margin-top: $act-unit-s / 2;
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: $col-text;

    &:hover {
      color: $brand-col-1;
    }
  }

  .c-item-thumb__heading a {
    color: $col-heading;

    &:hover {
      color: $brand-col-1;
    }
  }
}

.l-page__nav-menu--collection-filter {
  position: relative;
  width: 100%;
  z-index: 1;

  @include contained-content();

  .c-nav-menu__list--collection-filter {
    justify-content: flex-start;

    .c-nav-menu__item--collection-filter {
      margin-left: 0;

      &:first-child .c-nav-menu__link--collection-filter {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      &:last-child .c-nav-menu__link--collection-filter {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      .c-nav-menu__link--collection-filter {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: $act-unit;
        padding-right: $act-unit;
        background-color: $act-grey-light;
        text-transform: uppercase;
        color: $brand-col-2;
        font-size: $act-fs-6;
        transition: all 0.3s;

        @include mq($from: tablet) {
          background-color: $act-grey-light;
        }
      }

      .c-nav-menu__link--collection-filter:hover,
      .c-nav-menu__link--collection-filter:active,
      .c-nav-menu__link--collection-filter:focus,
      &.is-current .c-nav-menu__link--collection-filter {
        background-color: $brand-col-1;
        color: white;
      }
    }
  }
}

.l-page__product-list {


  .l-product-list__item {
    flex: 0 0 25%;
  }
}

// -- Specific styles for sections -- //

// -- Home - Text and Image Row -- //

#section-id-16430262408de1051e,
#section-id-16430296842a0fc99f,
#shopify-section-1643029741d3b07d30 {
  .c-content-block__row {
    align-items: center;
  }
}

#section-id-16430296842a0fc99f,
#shopify-section-1643029741d3b07d30 {
  margin-top: -$act-unit-h * 1.5;
}

// Home - Birth of the Bear section

#section-id-1642591167f3ea18b4 {
  .c-content-block {
    background-size: auto;
  }

  @include mq($from: tablet, $until: desktop) {
    .c-content-block__footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .c-btn--cta-secondry {
        margin-top: $act-unit-s;
        margin-left: 0;
      }
    }
  }
}

// Home - Meet the Pack section

#section-id-1643029835b6c91d25 {
  .c-content-block__row {
    padding-top: $act-unit-h * 2;
    padding-bottom: $act-unit-h * 2;
  }
}

// Home - Alternating text and image rows (image and content ordering on mobile)
@include mq($until: tablet) {
  #section-id-16430262408de1051e,
  #section-id-1643029741d3b07d30 {
    .c-content-block__row {
      display: flex;
      flex-direction: column;

      .c-content-block__col {
        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
        }
      }
    }
  }
}

// Newsletter section

.contact-section--newsletter,
.index-section--newsletter {
  padding-top: $act-unit-h ;
  padding-bottom: $act-unit-h ;
  background-image: url('assets/images/bearhug-text-background.png');

  .l-content-section--newsletter {
    @include contained-content();

    .c-newsletter__heading {
      margin-bottom: $act-unit-s;
      text-transform: uppercase;
    }

    .c-newsletter__subheading {
      margin-bottom: $act-unit;

      > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .c-newsletter--input-group {
      @include mq($from: tablet) {
        width: 50%;
      }

      .input-group__field {
        width: 100%;
      }
    }
  }

  .c-newsletter__message {
    padding-top: $act-unit;
    color: $brand-col-1;
  }
}

// -- Form input styles -- //

.input-group__field {
  @extend .form-input;
}

// -- Collection -- //

.collection-header-content-wrap {
  background-color: white;
  padding-top: $act-unit-h;
  padding-bottom: $act-unit-h;

  @include mq($until: tablet) {
    .c-header__heading--collection,
    .c-header__sub-heading {
      color: unset;
    }

    .c-header__title,
    .c-header__type {
      font-size: $act-fs-1;
    }
  }

  @include mq($from: tablet) {
    background-color: transparent;
  }
}

.l-page__content--collection {
  &,
  .c-content-block__row {
    padding-left: 0;
    padding-right: 0;

    @include mq($until: tablet) {
      > .c-content-block__col:not(:last-child) {
        margin-bottom: $act-unit-l;
      }
    }
  }

  .rte {
    margin-left: -$act-unit;
    margin-right: -$act-unit;
  }
}

// -- Product page -- //

.remodal,
#shopify-section-product {
  .l-btn-group {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $act-unit;

    .l-btn-group__btn {
      margin-bottom: $act-unit-s;
      margin-right: $act-unit-s;

      .c-btn--product-radio {
        min-width: unset;
        padding: $act-unit-s $act-unit-s;
        border-width: 1px;
        border-color: $act-grey-dark;
        color: $act-grey-dark;
        border-radius: 4px;
        font-size: $act-fs-6;
        font-weight: 600;
        text-transform: unset;
        background-color: transparent;
        transition: all 0.3s;

        &.is-selected,
        &:hover {
          background-color: $col-text;
          border-color: $col-text;
          color: white;
        }
      }
    }
  }
}

.c-product-form__link--product {
  a {
    display: inline-block;
    padding-bottom: $act-unit-t;
    font-weight: bold;
    border-bottom: 2px solid $col-link;
    text-decoration: none;
    font-size: $act-fs-5;
    transition: all 0.3s;

    &:hover {
      color: $col-text;
      border-bottom-color: $col-text;
    }
  }
}

.c-tabbed-content {
  .c-tabbed-content__controls {
    display: flex;
    margin-left: -$act-unit;
    margin-right: -$act-unit;
    margin-bottom: $act-unit;

    .c-tabbed-content__control {
      padding: $act-unit-s $act-unit;
      font-size: $act-fs-5;
      font-weight: normal;

      .c-tabbed-content__label {
        display: inline-block;
        padding-bottom: $act-unit-t;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
      }

      &[data-state="on"],
      &:hover {
        .c-tabbed-content__label {
          border-bottom-color: $act-grey-dark;
        }
      }
    }
  }

  .c-tabbed-content__tab {
    display: none;

    &[data-state="on"] {
      display: block;
    }
  }

  .c-tabbed-content__content {
    font-size: $act-fs-5;

    h3 {
      margin-bottom: $act-unit-t;
      font-size: $act-fs-5;
    }
  }
}

.template-product {
  .c-product-form__link--product {
    display: none;
  }
}

.l-page-after--product {
  @include contained-content();
}

.remodal-ajax-content {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $act-unit-l;
  flex-wrap: wrap;

  .size-guide {
    flex: 0 0 100%;
    margin-bottom: $act-unit-l;
    text-align: center;

    > h1 {
      text-transform: uppercase;
    }

    p {
      font-size: $inuit-global-font-size * 0.9;
    }
  }

  .c-size-guide-table {
    margin-bottom: $act-unit-l;
    font-size: $inuit-global-font-size * 0.8;

    table {
      font-size: $inuit-global-font-size * 0.9;

      tr {
        > td:first-child {
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }
  }

  .c-size-guide-table,
  .l-page__size-guide-icon {
    flex: 0 0 100%;

    @include mq($from: tablet) {
      flex: 0 0 50%;
    }
  }

  .l-page__size-guide-icon {
    .o-svg-icon {
      height: unset;
    }

    .o-svg-icon__svg {
      position: relative;
      transform: unset;
      left: unset;
      top: unset;
      width: unset;
      height: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// -- Cart -- //

.l-page__heading--cart,
.c-header__heading--static-page {
  margin-bottom: $act-unit-l;
  font-size: $act-fs-g;
}

.c-cart__cart-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .cart-content {
    flex: 0 0 100%;

    @include mq($from: desktop) {
      flex: 0 0 70%;
      padding-right: $act-unit-l;
    }

    .c-cart-list__header {
      display: none;
      margin-bottom: $act-unit * 1.5;
      padding-bottom: $act-unit;
      border-bottom: 1px solid $act-grey-dark;

      @include mq($from: desktop) {
        display: block;
      }

      .c-cart-list__header-content {
        display: flex;
        margin-left: -$act-unit-s;
        margin-right: -$act-unit-s;
      }

      .c-cart-list__heading {
        flex: 0 0 15%;
        margin-bottom: 0;
        padding: 0 $act-unit-s;
        font-weight: 400;

        &:first-child {
          flex: 1;
        }
      }
    }

    .c-cart-list__list {
      margin-left: 0;

      .l-cart-list__item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $act-unit;

        &:not(:last-child) {
          padding-bottom: $act-unit;
          border-bottom: 1px solid $act-grey-dark;
        }
      }
    }
  }

  .c-cart___title--cart {
    font-weight: 400;
  }

  .c-cart___summary {
    flex: 0 0 100%;

    @include mq($from: desktop) {
      flex: 0 0 30%;
    }

    padding: $act-unit * 0.9 $act-unit * 0.9 $act-unit $act-unit * 0.9;
    background-color: $col-placeholder;
    border-radius: $act-unit-s;
  }

  .c-cart___notes {
    margin-bottom: $act-unit;
    padding-bottom: $act-unit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    label {
      display: block;
      margin-bottom: $act-unit;
      font-size: $inuit-global-font-size * 0.8;
    }

    textarea {
      width: 100%;
      height: 120px;
      border-color: white;
      border-radius: $act-unit-s;
    }
  }

  .c-item-thumb__variant {
    text-transform: none;
    font-weight: 400;
    line-height: 1.2;
    font-size: $inuit-global-font-size * 0.8;

    .c-item-thumb__cart-note {
      display: block;
      margin-bottom: $act-unit-t;
    }

    .c-item-thumb__cart-link {
      display: inline-block;
      margin-bottom: $act-unit-t;
    }

    .variant-label {
      margin-top: $act-unit-s;
      font-size: $inuit-global-font-size * 0.9;
    }
  }

  .c-cart___subtotal {
    display: flex;
    font-weight: bold;
  }

  .carto {
    margin-left: auto;
    font-weight: bold;
  }

  .c-item-thumb__title {
    display: block;
    margin-bottom: $act-unit-s;
    font-size: $inuit-global-font-size;

    .c-item-thumb__link-title {
      color: $col-text;

      &:hover {
        color: $brand-col-1;
      }
    }

    .c-item-thumb__title-type {
      display: block;
      margin-top: -$act-unit-t;
      margin-bottom: $act-unit;
      font-weight: 100;
    }
  }

  .c-item-thumb__heading--cart-product,
  .c-item-thumb__container--cart-product-price,
  .c-item-thumb__container--cart-product-qty {
    flex: 0 0 75%;
    padding: 0 $act-unit-s;
  }

  @include mq($from: desktop) {
    .c-item-thumb__heading--cart-product {
      flex: 0 0 55%;
    }

    .c-item-thumb__container--cart-product-qty {
      flex: 0 0 15%;
    }

    .c-item-thumb__container--cart-product-price {
      flex: 0 0 15%;
    }
  }

  .c-item-thumb__input--qty {
    max-width: 100%;
    width: 90px;
    padding: $act-unit-t;
    border: 1px solid $act-grey-dark;
    border-radius: $act-unit-t;
  }

  .c-btn--cart-update {
    display: inline-block;
    margin-top: $act-unit-s;
    text-transform: none;
    text-decoration: underline;

    &,
    * {
      color: $brand-col-1;

      &:hover {
        color: $brand-col-3;
      }
    }
  }
}

.l-page-after--cart {
  margin-bottom: $act-unit-h;
}

.l-page-after__product-list {
  .l-product-list__heading {
    padding-bottom: $act-unit * 1.5;
    border-bottom: 1px solid $act-grey-dark;
  }
}

// -- Contact Page -- //

.template-page-contact {
  .l-page-after__section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$act-unit;
    margin-right: -$act-unit;
    padding-bottom: $act-unit-h;

    > div {
      flex: 0 0 100%;
      margin-bottom: $act-unit-l;
      padding-left: $act-unit;
      padding-right: $act-unit;

      @include mq($from: tablet) {
        flex: 1;
      }
    }

    .l-page-after__location {
      flex: 0 0 100%;
      text-transform: uppercase;
      line-height: 1.1;
      font-size: $inuit-global-font-size * 0.9;

      @include mq($from: desktop) {
        flex: 1;
      }
    }

    .l-page-after__heading {
      text-transform: uppercase;
      font-size: $act-fs-3;
    }

    .c-btn {
      border-radius: $act-unit-t;
      padding-left: $act-unit;
      padding-right: $act-unit;

      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }

    .c-nav-menu__list--social {
      justify-content: flex-start !important;
    }

    .c-nav-menu__item--social {
      margin-right: $act-unit-t !important;
    }

    .c-icon {
      width: 38px;
    }
  }

  .l-page-after__section--stockists {
    .l-page-after__heading--stockists {
      margin-bottom: $act-unit-l * 1.5;
      font-size: $act-fs-2;
      text-transform: uppercase;
    }

    .l-item-list__list {
      margin-left: -$act-unit;
      margin-right: -$act-unit;

      .l-item-list__item {
        padding-left: $act-unit;
        padding-right: $act-unit;

        .c-featured-image__wrapper {
          padding-top: 56.25%;
          margin-bottom: $act-unit * 1.5;
        }

        .c-item-thumb__heading {
          text-transform: none;
          font-size: $act-fs-3;
        }

        .c-item-thumb__rte--stockist {
          margin-bottom: $act-unit;
          font-size: $inuit-global-font-size * 0.9;
        }

        .c-item-thumb__footer--stockist {
          display: flex;
          justify-content: space-between;
          font-size: $inuit-global-font-size * 0.9;

          > a {
            flex: 1;
            color: $brand-col-1 !important;
            text-decoration: underline;
            font-weight: bold;

            &:hover {
              color: $brand-col-3 !important;
            }

            .c-btn__icon {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin-left: $act-unit;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

.c-social-share-menu{
  display: flex;
  align-items: center;
  margin-bottom: $act-unit;
}

.c-social-share-menu__link{
  @include size($act-unit);
  margin-right: $act-unit-s;
}

.c-social-share-menu__title{
  margin-right: $act-unit;
}

.l-featured-collection__header{
  @include mq($from : desktop){
    width: 50%;
  }
}

.slideshow__heading-cta:hover{
  color: white !important;
}




